{% extends "silk/base/detail_base.html" %}
{% load silk_filters %}
{% load silk_nav %}
{% load silk_inclusion %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'silk/css/summary.css' %}">
    <style>
        .iframe {
          position: fixed;
          height: 100vh;
          top: 50px;
          width: -webkit-calc(100vw);
          width: calc(100vw);
          bottom: 0;
          z-index: 1;
        }
    </style>
{% endblock %}

{% block menu %}
    {% request_menu request silk_request %}
{% endblock %}

{% block js %}
<script>
    function init() {
        if(document.body !== null) {
            const iframe = document.createElement('iframe');
            iframe.classList.add('iframe');
            const profileURL = window.location.toString().replace('cprofile', 'speedscope-data');
            iframe.src = "{% static 'silk/lib/speedscope/index.html' %}" + '#profileURL=' + profileURL;
            document.body.appendChild(iframe);
        } else {
            setTimeout(init, 10);
        }
    }
    init()
</script>
{% endblock %}
